body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

img {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

h1, p {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.subject1 {
    background-color: #a4c2f4; /* Light Blue */
}

.subject2 {
    background-color: #ffb6b6; /* Light Coral */
}

.subject3 {
    background-color: #c2f4c2; /* Light Green */
}

.subject4 {
    background-color: #ffd699; /* Light Orange */
}

.subject5 {
    background-color: #e0e0e0; /* Light Gray */
}
.subject6 {
    background-color: #866666; 
}
.subject7 {
    background-color: #d66d6d; 
}
